 body{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(217, 210, 210);
    color: rgb(11, 11, 11);
    text-align: center;


}